
 body.dark .classification-component .summery-info {
	 align-items: center;
}
 body.dark .classification-component .order-summary {
	 max-height: 600px;
	 overflow-y: auto;
}
 body.dark .classification-component .w-summary-info {
	 align-items: center;
}
 body.dark .classification-component .pagination > li {
	 cursor: pointer;
}
 body.dark .classification-component .tag-list-container {
	 display: flex;
	 flex-wrap: wrap;
	 -webkit-box-pack: justify;
	 justify-content: space-between;
}
 body.dark .classification-component .tag-list-container .tag-item {
	 padding: 0;
	 margin-top: 1rem;
	 margin-bottom: 1rem;
}
 body.dark .classification-component .tag-list-container .tag-item .item-container {
	 display: flex;
	 align-items: center;
}
 body.dark .classification-component .tag-list-container .tag-item .item-container .item-icon {
	 border-radius: 50%;
	 padding: 0.5rem;
	 margin-right: 0.75rem;
	 position: relative;
}
 body.dark .classification-component .location-gradient {
	 background: linear-gradient(#2196f3 0%,#2196f3 100%);
}
 body.dark .classification-component .warning-gradient {
	 background: linear-gradient(#f0c24a 0%, #ef804b 100%);
}
 body.dark .classification-component .info-gradient {
	 background: linear-gradient(#727474 0%, #727474 100%);
}
 body.dark .classification-component .success-gradient {
	 background: linear-gradient(#79db72 0%, #71cca4 100%);
}
 body.dark .classification-component .primary-gradient {
	 background: linear-gradient(#b58fe6 0%, #9d4bc4 100%);
}
 body.dark .classification-component .dark-gradient {
	 background: linear-gradient(#9f9ea0 0%, #2f2b31 100%);
}
 body.dark .classification-component .tag-list-container .tag-item .item-container .item-number {
	 font-size: 20px;
	 margin-bottom: 0;
	 font-weight: 800;
}
 body.dark .classification-component .tag-list-container .tag-item .item-container .item-name {
	 font-size: 18px;
}
 body.dark .classification-component .icon-model {
	 cursor: pointer;
	 margin-right: 5px;
}
 body.dark .classification-component .icon-model:hover {
	 -webkit-transform: translateY(-3px);
	 transform: translateY(-3px);
	 -webkit-transition: all 0.3s ease-out 0s;
	 transition: all 0.3s ease-out 0s;
}
 body.dark .classification-component .icon-model.delete {
	 cursor: not-allowed;
}
 body.dark .classification-component .widget-table-one .table > tbody tr {
	 border: none;
}
 body.dark .classification-component .widget-table-one .table > tbody > tr > td .td-content {
	 cursor: pointer;
	 font-weight: 600;
}
 body.dark .classification-component .widget-table-one .table > thead {
	 border-radius: 6px;
}
 body.dark .classification-component .image-logo {
	 height: 2rem;
	 width: 2rem;
	 
}
 body.dark .classification-component .image-logo1 {
	 height: 2rem;
	 width: 2rem;
	 
}
 body.dark .classification-component .box-article-select {
	 height: 470px;
	 overflow-y: auto;
	 overflow-x: hidden;
}
 body.dark .classification-component .box-article-select img {
	 max-width: 100%;
	 height: auto;
}
 body.dark .classification-component .box-article-select::-webkit-scrollbar {
	 width: 6px;
}
 body.dark .classification-component .classification-component .box-article-select::-webkit-scrollbar-track {
	 box-shadow: inset 0 0 5px transparent;
	 border-radius: 10px;
}
 body.dark .classification-component .box-article-select::-webkit-scrollbar-thumb {
	 background: #999 !important;
	 border-radius: 10px;
}
 body.dark .classification-component .box-article-select::-webkit-scrollbar-thumb:hover {
	 background: #999 !important;
}
 body.dark .classification-component .order-summary::-webkit-scrollbar {
	 width: 6px;
}
 body.dark .classification-component .order-summary::-webkit-scrollbar-track {
	 box-shadow: inset 0 0 5px transparent;
	 border-radius: 10px;
}
 body.dark .classification-component .order-summary::-webkit-scrollbar-thumb {
	 background: #999 !important;
	 border-radius: 10px;
}
 body.dark .classification-component .order-summary::-webkit-scrollbar-thumb:hover {
	 background: #999 !important;
}
 body.dark .classification-component .success-gradient .image-logo1 {
	 position: relative;
	 transition: 0.25s;
	 top: 0px;
}
 body.dark .classification-component .success-gradient:hover .image-logo1 {
	 top: -2px;
}
 body.dark .classification-component .info-gradient .image-logo1 {
	 position: relative;
	 transition: 0.25s;
	 top: 0px;
}
 body.dark .classification-component .info-gradient:hover .image-logo1 {
	 top: -2px;
}
 body.dark .classification-component .location-gradient .image-logo1 {
	 position: relative;
	 transition: 0.25s;
	 top: 0px;
}
 body.dark .classification-component .location-gradient:hover .image-logo1 {
	 top: -2px;
}
 body.dark .classification-component .primary-gradient .image-logo1 {
	 position: relative;
	 transition: 0.25s;
	 top: 0px;
}
 body.dark .classification-component .primary-gradient:hover .image-logo1 {
	 top: -2px;
}
 body.dark .classification-component .dark-gradient .image-logo1 {
	 position: relative;
	 transition: 0.25s;
	 top: 0px;
}
 body.dark .classification-component .dark-gradient:hover .image-logo1 {
	 top: -2px;
}
 body.dark .classification-component .human-active-per {
	 overflow: visible;
}
 body.dark .classification-component .human-active-per .bg-success {
	 box-shadow: 0 0 3px 3px #1abc9c !important;
}
 body.dark .classification-component .human-active-org {
	 overflow: visible;
}
 body.dark .classification-component .human-active-org .bg-primary {
	 box-shadow: 0 0 3px 3px rgba(67, 97, 238, 0.4) !important;
}
 body.dark .classification-component .human-active-loc {
	 overflow: visible;
}
 body.dark .classification-component .human-active-loc .bg-info {
	 box-shadow: 0 0 3px 3px #2196f3 !important;
}
 body.dark .classification-component .human-active-misc {
	 overflow: visible;
}
 body.dark .classification-component .human-active-misc .bg-secondary {
	 box-shadow: 0 0 3px 3px #805dca !important;
}
 body.dark .classification-component .human-active-empty {
	 overflow: visible;
}
 body.dark .classification-component .human-active-empty .bg-dark {
	 box-shadow: 0 0 3px 3px rgba(101, 94, 116, 0.4) !important;
}
 body.dark .classification-component .progress-active {
	 overflow: visible;
}
 body.dark .classification-component .progress-active .bg-success {
	 box-shadow: 0 0 3px 3px #1abc9c !important;
}
 body.dark .classification-component .progress-active .bg-primary {
	 box-shadow: 0 0 3px 3px rgba(67, 97, 238, 0.4) !important;
}
 body.dark .classification-component .progress-active .bg-info {
	 box-shadow: 0 0 3px 3px #2196f3 !important;
}
 body.dark .classification-component .progress-active .bg-secondary {
	 box-shadow: 0 0 3px 3px #805dca !important;
}
 body.dark .classification-component .progress-active .bg-dark {
	 box-shadow: 0 0 3px 3px rgba(101, 94, 116, 0.4) !important;
}
 body.dark .classification-component .unprogress-active {
	 overflow: visible;
}
 body.dark .classification-component .unprogress-active .bg-pending {
	 box-shadow: 0 0 3px 3px #ef804b !important;
}
 body.dark .classification-component .menu-table div {
	 color: #bfc9d4 !important;
	 font-weight: 600;
	 font-size: 14px;
	 letter-spacing: 1px;
	 white-space: nowrap;
}
 body.dark .classification-component .menu-table {
	 border-radius: 6px;
	 background-color: #1b2e4b;
}
 body.dark .box-list .table-tag .d-flex .box-element-tag .select-category-article {
	 background: transparent;
}
 body.dark .box-list .table-tag .d-flex .box-element-tag .select-status-article {
	 background: transparent;
}
 body.dark .classification-component .modal-content .modal-body .modal-list::-webkit-scrollbar {
	 width: 6px;
}
 body.dark .classification-component .modal-content .modal-body .modal-list::-webkit-scrollbar-track {
	 box-shadow: inset 0 0 5px transparent;
	 border-radius: 10px;
}
 body.dark .classification-component .modal-content .modal-body .modal-list::-webkit-scrollbar-thumb {
	 background: #999 !important;
	 border-radius: 10px;
}
 body.dark .classification-component .modal-content .modal-body .modal-list::-webkit-scrollbar-thumb:hover {
	 background: #999 !important;
}
 body.dark .classification-component .box-element-tag .product-name .align-self-center.title-article .prd-name {
	 width: 360px;
	 overflow: hidden;
	 font-weight: bold !important;
	 text-overflow: ellipsis;
	 -webkit-line-clamp: 4;
	 -webkit-box-orient: vertical;
	 margin: 0px;
	 font-size: 15px !important;
	 white-space: nowrap;
}
 body.dark .classification-component .box-element-tag .product-name .align-self-center.title-article .prd-description {
	 overflow: hidden;
	 text-overflow: ellipsis;
	 -webkit-line-clamp: 4;
	 -webkit-box-orient: vertical;
	 margin: 0px;
	 width: 360px;
	 font-size: 12px;
	 white-space: nowrap;
}
 body.dark .classification-component .box-list .table-tag .d-flex .box-element-tag .select-category-article {
	 text-align: center;
	 box-shadow: none;
	 outline: 0px;
	 border: 0px;
	 width: auto;
	 text-align: center;
	 padding: 0.75rem 0px;
	 cursor: pointer;
}
 body.dark .classification-component .box-list .table-tag .d-flex .box-element-tag .select-status-article {
	 text-align: center;
	 box-shadow: none;
	 outline: 0px;
	 border: 0px;
	 width: auto;
	 text-align: center;
	 padding: 0.75rem 0px;
	 cursor: pointer;
}
 body.dark .classification-component .table-list-article tbody tr {
	 box-shadow: 0 3px 10px -5px;
	 height: 100px;
}
 body.dark .classification-component .table-list-article tbody {
	 height: 500px;
	 overflow-y: scroll;
	 display: block;
	 overflow-x: hidden;
	 border-spacing: 0px;
}
 body.dark .classification-component .box-inline {
	 padding: 0px 20px;
}
 body.dark .classification-component .box-element-tag {
	 padding: 10px 21px;
	 position: relative;
	 z-index: 2;
}
 body.dark .classification-component .box-list {
	 height: 481px;
	 overflow-y: scroll;
	 position: relative;
	 z-index: 2;
}
 body.dark .classification-component .box-list::-webkit-scrollbar {
	 width: 6px;
}
 body.dark .classification-component .box-list::-webkit-scrollbar-track {
	 box-shadow: inset 0 0 5px transparent;
	 border-radius: 10px;
}
 body.dark .classification-component .box-list::-webkit-scrollbar-thumb {
	 background: #999 !important;
	 border-radius: 10px;
}
 body.dark .classification-component .box-list::-webkit-scrollbar-thumb:hover {
	 background: #999 !important;
}
 body.dark .classification-component .table-tag.box-inline .box-element-tag .product-name {
	 color: #515365;
	 letter-spacing: 1px;
	 display: flex;
}
 body.dark .classification-component .table-tag.box-inline .box-element-tag .product-name .prd-name {
	 font-weight: 700;
	 margin-bottom: 0;
	 font-size: 13px;
}
 body.dark .classification-component .table-tag.box-inline .box-element-tag tr:hover .product-name .prd-name {
	 color: #888ea8;
}
 body.dark .classification-component .border-item-tag {
	 position: absolute;
	 height: 100px;
	 left: 0%;
	 width: 100%;
}
 body.dark .classification-component .table-tag, body.dark .classification-component .fistRunArticle, body.dark .classification-component .secondRunArticle {
	 position: relative;
	 z-index: 2;
}
 body.dark .classification-component .box-element-tag.align-self-center .product-name:hover {
	 cursor: pointer;
}
 body.dark .classification-component .icon-save-edit-tag:hover {
	 transform: translateY(-3px);
	 transition: all 0.3s ease-out 0s;
}
 